@{
    ViewBag.PageTitle = "Not Found Error ";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4> @ViewBag.Errormessage</h4>
</div>
<a asp-action="AllEmployeeView" asp-controller="home" class="btn btn-outline-success">
    click herr to see all Employees
</a>
